<!-- Main Footer -->
<footer class="main-footer" id="footer">
	<div class="footer_pattern" style="background-image: url(assets/images/background/footer-pattern.png)">
	</div>
	<div class="auto-container">
		<div class="inner-container">
			<!-- Widgets Section -->
			<div class="widgets-section">
				<div class="row clearfix">
					<!-- Big Column -->
					<div class="big-column col-lg-12 col-md-12 col-sm-12">
						<div class="footer-lists_outer">
							<div class="row clearfix">
								<!-- Column -->
								<div class="column col-lg-3 col-md-4 col-sm-6">
									<h5 class="footer-title">Industry</h5>
									<ul class="footer-pages_list">
										<li><a href="agriculture-chemicals.html">Agriculture & Chemicals</a>
										</li>
										<li><a href="banking-financial-services.html">Banking & Financial
												Services</a></li>
										<li><a href="education-disability.html">Education & Disability
												Sector</a></li>
										<li><a href="energy-resources-utilities.html">Energy, Resources &
												Utilities</a></li>
										<li><a href="engineering-construction.html">Engineering &
												Construction</a></li>
										<li><a href="healthcare-life-science.html">Healthcare & Life
												Sciences</a></li>
										<li><a href="insurance.html">Insurance</a></li>
										<li><a href="logistics.html">Logistics, Travel & Hospitality</a></li>
										<li><a href="mining-manufacturing.html">Mining & Manufacturing</a></li>
										<li><a href="public-services.html">Public Services</a></li>
										<li><a href="retail-distribution.html">Retail & Distribution</a></li>
										<li><a href="telecom-media.html">Telecommunication & Media</a></li>
									</ul>
								</div>
								<!-- Column -->
								<div class="column col-lg-3 col-md-4 col-sm-6">
									<h5 class="footer-title">Products</h5>
									<ul class="footer-pages_list">
										<li><a href="digital-banking.html">Digital Banking Platform</a></li>
										<li><a href="elf-lab-service.html">ELF - Lab-as-a-Service</a></li>
										<li><a href="field-operations.html">Field Operation Automation
												Platform</a></li>
										<li><a href="learning-talent-management.html">Learning & Talent
												Management Platform</a></li>
										<li><a href="school-management.html">School & Student Management
												System</a></li>
										<li><a href="smart-city.html">Smart City & Locality Platform</a></li>
										<li><a href="telehealth.html">Tele Health Platform</a></li>
										<li><a href="transport-logistics.html">Transport & Logistics Management
												Platform</a></li>
										<li><a href="data-protection.html">Unified Data Protection Platform</a>
										</li>
										<li><a href="waste-management.html">Waste Management Automation
												System</a></li>
									</ul>
								</div>
								<div class="column col-lg-3 col-md-4 col-sm-6">
									<h5 class="footer-title">Services</h5>
									<ul class="footer-pages_list">
										<li><a href="cloud.html">Cloud
												Services</a></li>
										<li><a href="blockchain.html">Infrastructure Services</a></li>
										<li><a href="business-process-optimization.html">ERP Solutions</a></li>
										<li><a href="cloud.html">CRM for Citizen Services</a></li>
										<li><a href="devOps-&-agile.html">AI & Data Intelligence</a></li>
										<li><a href="digital-experience.html">Cybersecurity & Risk Services</a>
										</li>
										<!-- <li><a href="incubating-emerging-offerings.html">Incubating Emerging Offerings</a></li>
                                        <li><a href="industry-x0.html">Industry X.0</a></li>
                                        <li><a href="it-strategy-&-consulting.html">IT Strategy & Consulting</a></li>
                                        <li><a href="mobility-solutions.html">Mobility Solutions</a></li>
                                        <li><a href="robotic-process-automation.html">Robotic Process Automation</a></li>
                                        <li><a href="testing-services.html">Testing Services</a></li> -->
									</ul>
								</div>

								<!-- Column -->
								<div class="column col-lg-3 col-md-4 col-sm-6">
									<h5 class="footer-title">about us</h5>
									<ul class="footer-pages_list">
										<li><a href="about.html">Our Mission</a></li>
										<li><a href="about.html">Team</a></li>
									</ul>
									
									<h5 class="footer-title">
										<a href="careers.html">Careers</a>
									</h5>

									<h5 class="footer-title">resources</h5>
									<ul class="footer-pages_list">
										<li><a href="services.html">Services</a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
				<div class="footer-logo"><a href="index.html"><img src="assets/images/logos/StratNex.png" alt=""
							title=""></a></div>
				<div class="footer-copyright">&copy; 2025 <a href="index.html">StratNex Software Services</a>
					All rights reserved.</div>
				<!-- Social Box -->
				<div class="footer-social_box">
					<a href="https://www.linkedin.com/company/stratnex" target="_blank" rel="noopener noreferrer"><i
							class="fa-brands fa-linkedin"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

